<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-primary">
                    <h4 class="card-title">Add Hardware</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form (ngSubmit)="submit()" #addHardwareForm="ngForm" class="form" novalidate>
                        <div class="form-body">
                            <div class="form-group">
                                <label>Asset Number</label>
                                <input type="text" class="form-control" [(ngModel)]="hardware.assetNumber" name="assetNumber" #assetNumber="ngModel" required>
                                <small class="form-text text-muted danger" [hidden]="assetNumber.valid">Asset Number Is Required</small>
                            </div>
                            <div class="form-group">
                                <hardware-types [(inputModel)]="hardware.hardwareTypeId"></hardware-types>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>