<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title-wrap bar-primary">
          <h4 class="card-title">Assign Hardware</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="px-3">
          <form class="form">
            <div class='form-body'>
              <div class="form-group">
                <label>Asset Number</label>
                <input type="text" class="form-control">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Serial Number</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Manufacturer</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Model</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Operating System</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Purpose</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Assigned To</label>
                <input type="text" class="form-control">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Department</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-actions">
              <button type="button" class="btn btn-raised btn-danger mr-1">
                <i class="icon-trash"></i> Cancel
              </button>
              <button type="button" class="btn btn-raised btn-success">
                <i class="icon-note"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
