<section id="minimal-statistics-bg">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">Device Breakdown</div>
    </div>
  </div>
  <div class="row" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-light-blue-cyan">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-microchip text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">{{totalHardwareCount.totalAvailableHardware}}</h3>
                <span>Total Devices</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-light-blue-cyan">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-desktop text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">{{totalHardwareCount.totalAvailableWorkstations}}</h3>
                <span>Total Workstations</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-light-blue-cyan">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-laptop text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">{{totalHardwareCount.totalAvailableLaptops}}</h3>
                <span>Total Laptops</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-light-blue-cyan">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-tablet text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">{{totalHardwareCount.totalAvailableMobileDevices}}</h3>
                <span>Total Mobile Devices</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-mint">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-microchip text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">{{totalDeployedCount.totalDeployedHardware}}</h3>
                <span>Total Deployed</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-mint">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-desktop text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">{{totalDeployedCount.totalDeployedWorkstations}}</h3>
                <span>Deployed Workstations</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-mint">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-laptop text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">{{totalDeployedCount.totalDeployedLaptops}}</h3>
                <span>Deployed Laptops</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-mint">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-tablet text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">{{totalDeployedCount.totalDeployedMobileDevices}}</h3>
                <span>Deployed Mobile Devices</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" matchHeight="card">
    <div class="col-xl-2 col-lg-6 col-12">
      <div class="card gradient-orange">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-building-o text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">33</h3>
                <span>Production</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-12">
      <div class="card gradient-orange">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-users text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">103</h3>
                <span>Walkup</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-12">
      <div class="card gradient-orange">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-code text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">55</h3>
                <span>Development</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-12">
      <div class="card gradient-orange">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-life-ring text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">42</h3>
                <span>Special</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-12">
      <div class="card gradient-orange">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-fire-extinguisher text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">11</h3>
                <span>BDR</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-12">
      <div class="card gradient-ibiza-sunset">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-chain-broken text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">29</h3>
                <span>Unaccounted</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-blue-grey-blue">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-windows text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">440</h3>
                <span>Windows 10</span>
                <h3 class="text-white mt-2">145</h3>
                <span>Windows 7</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-bloody-mary">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-linux text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">15</h3>
                <span>Red Hat</span>
                <h3 class="text-white mt-2">23</h3>
                <span>Ubuntu</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-green-teal">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-android text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">56</h3>
                <span>Android</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-indigo-purple">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-apple text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">26</h3>
                <span>iOS</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" matchHeight="card">
    <div class="col-xl-6 col-lg-6 col-12">
      <div class="card gradient-ibiza-sunset">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-exclamation-triangle text-white font-large-2 float-left">
                </i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">26</h3>
                <span>Due For Replacement</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  <div class="col-xl-6 col-lg-6 col-12">
      <div class="card gradient-ibiza-sunset">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-exclamation-triangle text-white font-large-2 float-left">
                </i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">5</h3>
                <span>BDR Machines Due For Update</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

