<section id="minimal-statistics-bg">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">Device Breakdown</div>
    </div>
  </div>
  <div class="row" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-light-blue-cyan">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-microchip text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">1030</h3>
                <span>Total Devices</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-light-blue-cyan">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-desktop text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">278</h3>
                <span>Total Workstations</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-light-blue-cyan">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-laptop text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">456</h3>
                <span>Total Laptops</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-light-blue-cyan">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-tablet text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">123</h3>
                <span>Total Mobile Devices</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-mint">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-microchip text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">656</h3>
                <span>Total Deployed</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-mint">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-desktop text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">231</h3>
                <span>Deployed Workstations</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-mint">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-laptop text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">247</h3>
                <span>Deployed Laptops</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-mint">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-tablet text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">33</h3>
                <span>Deployed Mobile Devices</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" matchHeight="card">
    <div class="col-xl-6 col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title-wrap bar-primary">
            <h4 class="card-title">Deployed Purpose</h4>
          </div>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title-wrap bar-primary">
            <h4 class="card-title">Deployed Operating Systems</h4>
          </div>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
</section>

